
<div class="bg-content">
    <div id="content">
        <div class="container">
            <div class="row">
                <article class="col-lg-4">
                    <div class="list-blog">
                        <img src="img/dostavka/4.jpg">
                    </div>
                </article>
                <article class="col-lg-8">
                    <div class="list-blog">
                        <ul>
                            <h3>1.	Регистрация</h3>
                            <li style="list-style: disc">
                                Регистрация на сайте Jadone.biz осуществляется посредством выбора пункта «Вход» из верхнего меню.
                            </li>
                            <li style="list-style: disc">
                                В  появившемся окне выберите ссылку «СОЗДАЙТЕ СВОЙ АККАУНТ»  и перейдите в окно регистрации. В предлагаемые поля внесите данные (login, e-mail, пароль) и нажмите кнопку «регистрация».
                            </li>
                            <li style="list-style: disc">
                                Вы будете зарегистрированы  на сайте, и в модальном окне появится предложение перейти на главную страницу или в Вашу корзину.
                            </li>
                            <li style="list-style: disc">
                                <strong class="block-slogan">Будьте внимательны при  заполнении полей.</strong>
                            </li>
                        </ul>
                        <ul>
                            <h3>2.	 Вход</h3>
                            <li style="list-style: disc">
                                Вход (авторизация)  на сайте Jadone.biz осуществляется посредством  выбора пункта «Вход» из верхнего меню.
                            </li>
                            <li style="list-style: disc">
                                В появившемся окне «Вход» введите адрес Вашей электронной почты и пароль, указанные при регистрации.
                            </li>
                            <li style="list-style: disc">
                                Нажмите кнопку «Войти».
                            </li>
                            <li style="list-style: disc">
                                При успешном входе на сайт в качестве зарегистрированного пользователя Вам становится доступен раздел «Кабинет»,
                                в котором Вы по желанию можете изменить пароль, откорректировать личные данные и управлять своими заказами, оформленными  на сайте.
                            </li>
                            <li style="list-style: disc">
                                Если Вы не можете войти на сайт или забыли пароль,  попробуйте воспользоваться разделом «Сброс пароля».
                                Для этого введите свой электронный адрес и нажмите кнопку «ok». Вам будет выслан на e-mail новый пароль для входа на сайт.
                            </li>
                        </ul>
                        <ul>
                            <h3>3.	 Формирование заказа</h3>
                            <li style="list-style: disc">
                                На сайте представлены модели женской одежды, сгруппированные по категориям каталога.
                                Из списка одежды Jadone Fashion Вы можете сформировать заказ следующим образом.
                                Выберите понравившуюся модель в списке  и, нажав кнопку «Подробнее» под фотографией, перейдите на страницу данной модели, где можно прочесть более подробную информацию об изделии, выбрать размер и цвет и откорректировать свой заказ.
                            </li>
                            <li style="list-style: disc">
                                Для этого:
                                <ul>
                                    <li style="list-style: circle">выберите необходимый цвет, размер и количество изделий данного цвета и размера;</li>
                                    <li style="list-style: circle">нажмите кнопку "отправить в корзину";</li>
                                    <li style="list-style: circle">выберите другой цвет этой же модели, размер и количество и нажмите кнопку «отправить в корзину»;</li>
                                    <li style="list-style: circle">проделайте это действие столько раз, сколько Вам необходимо вариантов цветов и размеров.</li>
                                </ul>
                            </li>
                            <li style="list-style: disc">
                                Все эти варианты занесутся в корзину отдельными позициями.
                                Если в корзине уже была позиция с такой же моделью, цветом и размером, то количество единиц  одинаковых позиций  будет суммироваться.
                            </li>
                            <li style="list-style: disc">
                                После этого зайдите в корзину, нажав на ссылку «перейти в корзину» или выбрав раздел «Корзина» из верхнего меню.
                            </li>
                            <li style="list-style: disc">
                                В корзине возможно будет дополнительно изменить только количество каждой позиции.
                                Если Вас не устраивают какие-либо позиции в корзине, переходите на страницу каждого из  товаров, поочередно выбирая модели в корзине, с целью коррекции размера, цвета и количества.

                            </li>
                            <li style="list-style: disc">
                                После этого вернитесь в список моделей и продолжите выбор следующей понравившейся Вам модели.  Зайдите на ее страницу и произведите выбор цвета, размера и количества.
                                Не забывайте после каждого изменения параметров выбора отправлять необходимый Вам товар в корзину!

                            </li>
                            <li style="list-style: disc">
                                После этого войдите в корзину и откорректируйте позиции по количеству.
                                Если необходимо, поменяйте валюту, в которой Вы будете оплачивать заказ с помощью раздела валют  в верхнем меню или непосредственно в корзине с помощью поля выбора валюты.

                            </li>
                        </ul>
                        <ul>
                            <h3>4.	Оформление заказа</h3>
                            <li style="list-style: disc">
                                После того, как Вы полностью сформируете заказ (с количеством, цветом и размерами товаров), нажмите кнопку «отправить заказ».
                            </li>
                            <li style="list-style: disc">
                                На экране появится окно «ШАГ 1/ШАГ 2», в котором Вам будет предложено выполнить следующие действия, а именно:
                                <ul>
                                    <li style="list-style: circle">
                                        Если Вы <strong class="block-slogan">ЗАРЕГИСТРИРОВАННЫЙ ПОЛЬЗОВАТЕЛЬ</strong>, то в разделе «Вы уже оформляли заказ» введите свой электронный адрес и пароль, указанный при регистрации и нажмите кнопку «Войти».<br>
                                        Вам станет доступно окно «ШАГ 2», в котором будут частично или полностью (в зависимости от того, оформляли ли Вы заказ ранее) заполнены поля по доставке. В обязательном порядке заполняются поля ФИО, город (обязательно нужно выбрать город, предложенный  из  всплывающего списка) и перевозчик (компанию, предложенную из всплывающего списка). Все остальные поля Вы можете заполнить по желанию для улучшения коммуникации.
                                        Если у Вас есть какие-либо комментарии к заказу или пожелания по срокам или условиям доставки воспользуйтесь полем «Комментарии к заказу».<br>
                                        Нажмите кнопку «Оформить заказ».
                                    </li>
                                    <li style="list-style: circle">
                                        Если Вы зарегистрированный пользователь, но <strong class="block-slogan">  ЗАБЫЛИ СВОЙ ПАРОЛЬ</strong>, то нажмите на ссылку «Забыли пароль?».<br>
                                        Вы попадете в окно «Вход», где в разделе сброс пароля введите свой электронный адрес и нажмите кнопку «ok».<br>
                                        Вам будет выслан на e-mail новый пароль для входа на сайт.<br>
                                    </li>
                                    <li style="list-style: circle">
                                        Если Вы <strong class="block-slogan">НЕ РЕГИСТРИРОВАЛИСЬ</strong> на сайте Jadone.biz, то  в разделе «Вы новый покупатель» заполните все необходимые поля и нажмите кнопку «Продолжить». Будьте внимательны при  заполнении полей.<br>
                                        После этого Вам станет доступен « ШАГ 2», в котором необходимо заполнить данные для доставки Вашего заказа.
                                        В обязательном порядке заполняются поля ФИО, город (обязательно нужно выбрать город, предложенный  из  всплывающего списка) и перевозчик (компанию, предложенную из всплывающего списка). Все остальные поля Вы можете заполнить по желанию для улучшения коммуникации.
                                        Если у Вас есть какие-либо комментарии к заказу или пожелания по срокам или условиям доставки воспользуйтесь полем «Комментарии к заказу».<br>
                                        Нажмите кнопку «Оформить заказ».

                                    </li>
                                </ul>
                            </li>
                            <li style="list-style: disc">
                                В появившемся модальном окне появится информация о заказе и кнопки перехода на главную страницу или в кабинет на страницу управления Вашими заказами.
                            </li>
                            <li style="list-style: disc">
                                При нажатии кнопки «Оформить заказ», Ваш заказ получит менеджер сайта, на Вашу почту придет уведомление об оформлении заказа, и в дальнейшем Вы сможете им управлять из своего кабинета в разделе «Управление заказами».
                            </li>
                            <li style="list-style: disc">
                                Если Вы сформировали заказ, но не отправили его, то все данные будут сохранены до последующего входа на сайт, то есть, у Вас сохранится возможность работать с заказом  дальше.
                                В случае необходимости Вы можете удалить товары  из своего заказа.

                            </li>
                        </ul>
                        <ul>
                            <h3>5.	Управление заказами</h3>
                            <li style="list-style: disc">
                                Выберите в основном меню «Кабинет» и раздел «Управление заказами». Если Вы оформляли на нашем сайте заказы, и у Вас есть текущие (незавершенные) заказы,
                                то все они будут доступны в Вашем кабинете для просмотра или других действий, определенных статусом Вашего заказа.
                            </li>
                            <li style="list-style: disc">
                                Статус «поступил» указывает на то, что заказ обрабатывается,  уточняется по наличию и может быть изменен либо удален полностью. Этот статус присваивается заказу автоматически.
                            </li>
                            <li style="list-style: disc">
                                Статус «принят» указывает на то, что заказ обработан менеджером, указана ориентировочная дата отправки заказа и Вам на почту отправлено уведомление о состоянии Вашего заказа.  Этот статус присваивает заказу менеджер.
                            </li>
                            <li style="list-style: disc">
                                В срок, указанный, как ориентировочная дата поставки, Вам на электронную почту придут  реквизиты и счет на оплату заказа и станет доступна кнопка «оплатить» на странице управления заказами в личном кабинете, с помощью которой Вы сможете оплатить свой заказ непосредственно с сайта.
                                Если оплата по Вашему заказу не поступила по каким-либо причинам в течение 1 недели с момента выставления счета, то Ваш заказ удаляется менеджером.
                            </li>
                            <li style="list-style: disc">
                                Статус «оплачен» указывает на то, что оплата по Вашему заказу получена, и заказ будет отправлен Вам в течение 1 дня после поступления оплаты.
                            </li>
                            <li style="list-style: disc">
                                Статус «получен»  присваиваете заказу Вы, сообщая менеджеру, что заказ получен.
                            </li>
                        </ul>
                        <ul>
                            <h3>6. Обратная связь</h3>
                            <li style="list-style: disc">
                                Для коммуникации с менджером или администрацией сайта воспользуйтесь формой обратной связи внизу страницы или на странице контакты.
                            </li>
                            <li style="list-style: disc">
                                Возможность задать вопрос по заказу и получить ответ на сайте реализована с помощью чата. Нажмите на иконку чата в верхнем меню и задайте Вашему менеджеру вопрос.
                                <strong class="block-slogan">Чат с менеджером доступен только после оформления заказа.</strong>
                            </li>
                        </ul>
                        <h3 class="color_summer">Благодарим за сотрудничество с Jadone Fashion!</h3>
                    </div>
                </article>
            </div>
        </div><!--container-->
    </div><!--content-->
</div><!--bg-content-->
