<!-- Start Alexa Certify Javascript -->
<style>
    .dialogs-default p{
        color: red;
    }
</style>




<div ui-view></div>



<script>
   /* $(document).ready(function(){
        window.setTimeout($('.sf-menu').superfish(),2000);

    });*/
   /*$(document).ready(function(){
       // initialise plugins
        $("ul.sf-menu").superfish({
            useClick: true
        });
   })

   *//* $(function(){
       $('.sf-menu').superfish()
    })*//*
    var userag = navigator.userAgent.toLowerCase();
    var isAndroid = userag.indexOf("android") > -1;
    //ipad and iphone fix
    if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/iPad/i)) || isAndroid) {
        $("ul.sf-menu").bind('click',function() {
            $('ul.sf-menu').hideSuperfishUl();
        });
    }*/

   (function($){ //create closure so we can safely use $ as alias for jQuery

       $(document).ready(function(){
           // initialise plugins
           /* $("ul.sf-menu").superfish({
            useClick: true
            });*/


           // initialise plugin
           var example = $('#example1').superfish({
               //add options here if required
               useClick: true
           });

           // buttons to demonstrate Superfish's public methods
           $('.destroy').on('click', function(){
               example.superfish('destroy');
           });

           $('.init').on('click', function(){
               example.superfish();
           });

           $('.open').on('click', function(){
               example.children('li:first').superfish('show');
           });

           $('.close').on('click', function(){
               example.children('li:first').superfish('hide');
           });
       });

   })(jQuery);



   /* $(document).ready(function(){
    $('.sf-menu').superfish()
    });*/

   /*$(function(){
    $('.sf-menu').superfish()
    })*/
   //alert(navigator.userAgent);
   var userag = navigator.userAgent.toLowerCase();
   var isAndroid = userag.indexOf("android") > -1;
   //ipad and iphone fix
   if((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i)) || (navigator.userAgent.match(/iPad/i)) || isAndroid) {
       //alert(navigator.userAgent);
       $("ul#example").bind('click',function() {
           $('ul#example').hideSuperfishUl();
       });

       /*$("ul.sf_drop").bind('click',function() {
           $('ul.sf_drop').hideSuperfishUl();
       });*/

   }
</script>


<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47855254-1', 'jadone.biz');
    //ga('send', 'pageview');

</script>

<!-- Yandex.Metrika informer -->
<!-- <a href="http://metrika.yandex.ru/stat/?id=23946445&amp;from=informer"
    target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23946445/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                        style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:23946445,lang:'ru'});return false}catch(e){}"/></a>-->
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter23946445 = new Ya.Metrika({id:23946445,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23946445" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!--Признак первосортных мозгов — это умение держать в голове две взаимоисключающие мысли одновременно, не теряя при этом способности мыслить

ученых кругах феномен взаимоисключающих параграфов именуется просто — парадокс. Могут вызывать либо равнодушие, либо когнитивный диссонанс.
Чем больше самоубийц, тем меньше самоубийц.
Отвечать, когда вас спрашивают, молчать, когда с вами разговаривает старший по званию!
        Так вот я и не пойму. Сепаратиситы это кто. умные или шизики?-->

<div>
    <script type="text/javascript" language="JavaScript">// <![CDATA[
/*function get_cookie(cookie_name) {
    var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );
    if(results) {return(unescape(results[2]))}else {return 0;}}

if(get_cookie("popapnum")<10) {
    var x = get_cookie("popapnum");
    var popapnum = ++x;
    var cookie_date = new Date ( 2043, 01, 15 );
    var exitsplashmessage = '***************************************\n\n ВАЖНОЕ СООБЩЕНИЕ:\n\n КЛИКНИТЕ ПО КНОПКЕ ОТМЕНА/CANCEL\n ОСТАНЬТЕСЬ НА ЭТОЙ СТРАНИЦЕ И \n БЕСПЛАТНО ПОЛУЧИТЕ\n КНИГУ"ОСНОВЫ ИНФОБИЗНЕСА"!\n\n НАЖМИТЕ КНОПКУ«ОТМЕНА»\n\n***************************************';
    var exitsplashpage = 'http://jadone.biz/ru/stuff/category/5364d9c9707981801b25648f';
    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function() { if (oldonload) { oldonload(); } func(); }}
    }
    function addClickEvent(a,i,func) {
        if (typeof a[i].onclick != 'function') { a[i].onclick = func; }
    }
    var theDiv = '<div id="ExitSplashDiv" style="display:block; width:100%; height:100%; position:absolute; background:#FFFFFF; margin-top:0px; margin-left:0px;" align="center">';
    theDiv = theDiv + '<iframe src="'+exitsplashpage+'" width="100%" height="100%" align="middle" frameborder="0"></iframe>';
    theDiv = theDiv + '</div>';
    var theBody = document.body;
    if (!theBody) {
        theBody = document.getElementById("body");
        if (!theBody) {
            theBody = document.getElementsByTagName("body")[0];
        }
    }
    var PreventExitSplash = false;
    function DisplayExitSplash(){
        if(PreventExitSplash == false){
            document.cookie = "popapnum="+popapnum; "expires=" + cookie_date.toGMTString();
            window.scrollTo(0,0);
            PreventExitSplash=true;
            divtag = document.createElement("div");
            divtag.setAttribute("id","ExitSplashMainOuterLayer");
            divtag.style.position="absolute";
            divtag.style.width="100%";
            divtag.style.height="100%";
            divtag.style.zIndex="99";
            divtag.style.left="0px";
            divtag.style.top="0px";
            divtag.innerHTML=theDiv;
            theBody.innerHTML="";
            theBody.topMargin="0px";
            theBody.rightMargin="0px";
            theBody.bottomMargin="0px";
            theBody.leftMargin="0px";
            theBody.style.overflow="hidden";
            theBody.appendChild(divtag);
            return exitsplashmessage;
        }
    }
    var a = document.getElementsByTagName('A');
    for (var i = 0; i < a.length; i++) {
        if(a[i].target !== '_blank') {
            addClickEvent(a,i, function(){ PreventExitSplash=true; });
        } else{
            addClickEvent(a,i, function(){ PreventExitSplash=false;});
        }
    }
    var disablelinksfunc = function(){
        var a = document.getElementsByTagName('A');
        for (var i = 0; i < a.length; i++) {
            if(a[i].target !== '_blank') {
                addClickEvent(a,i, function(){ PreventExitSplash=true; });
            } else{
                addClickEvent(a,i, function(){ PreventExitSplash=false;});
            }
        }
    }
    addLoadEvent(disablelinksfunc);
    var disableformsfunc = function(){
        var f = document.getElementsByTagName('FORM');
        for (var i=0;i<f.length;i++){
            if (!f[i].onclick){
                f[i].onclick=function(){ PreventExitSplash=true; }
            }else if (!f[i].onsubmit){
                f[i].onsubmit=function(){ PreventExitSplash=true; }}
        }
    }

    addLoadEvent(disableformsfunc);
    window.onbeforeunload = DisplayExitSplash;}

function BeforLoadOpera(){
    if(window.opera){
        if (!window.closed && PreventExitSplOpera == false && window.event.clientY < 15 && window.event.clientX > 0 && window.event.clientY > -20){

            DisplayExitSplash();

            if (confirm(exitsplashmessage) ){window.close();}

            PreventExitSplOpera = true;}}}

if(window.opera){PreventExitSplOpera = false;PreventExitSplash = false;}*/
// ]]></script></div>
<!-- Put this script tag to the <head> of your page -->


<!-- Put this script tag to the place, where the Share button will be -->

<!--
<script type="text/javascript">
    document.write(VK.Share.button(false,{type: "custom", text: "<img src=\"http://vk.com/images/vk32.png?1\" />"}));
</script>-->


<!-- Start Alexa Certify Javascript -->

<!-- End Alexa Certify Javascript -->
