!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title(ng-bind="titles.pageTitle")
    meta(name="keywords",content="{{titles.pageKeyWords}}")
    meta(name="description",content="{{titles.pageDescription}}")
    link(rel="image_src",href="{{titles.image}}")
    meta(name="author",content="Your name")
    meta(name="fragment",content="!")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(name="google-site-verification",content="t9n9a5XL2AEpx-VPw9g_Tp1aI6sUiS6FSXZyB5NHzZo")


    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="bower_components/select2/select2.css")
    link(rel='stylesheet', href='/styles/superfish.css')
    link(rel='stylesheet', href='/styles/responsive.css')
    link(rel='stylesheet', href='scripts/dev/elastislide/css/elastislide.css')
    link(rel='stylesheet', href='/styles/style.css')
    link(rel='stylesheet', href='/styles/docs.css')
    link(rel='stylesheet', href='/styles/slide.css')
    link(rel='stylesheet', href='/styles/dialogs.css')

    script.
      _atrk_opts = { atrk_acct:"UnSek1acFH002u", domain:"jadone.biz",dynamic: true};
      (function() { var as = document.createElement('script'); as.type = 'text/javascript'; as.async = true; as.src = "https://d31qbv1cthcecs.cloudfront.net/atrk.js"; var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(as, s); })();
    noscript
      img(src="https://d5nxst8fruw4z.cloudfront.net/atrk.gif?account=UnSek1acFH002u",style="display:none",height="1",width="1")

  body
    block body